<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32785182231-3dvue9tmv4q9dhtgl9nohqo6gr2h4h1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32785182231-3dvue9tmv4q9dhtgl9nohqo6gr2h4h1s</string>
	<key>API_KEY</key>
	<string>AIzaSyC76K87rIYvdyzGzR047QpYip__sy2iYbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>32785182231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tryingFlutterSound</string>
	<key>PROJECT_ID</key>
	<string>kataba-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kataba-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32785182231:ios:639f47ffbb67ef0dff3652</string>
</dict>
</plist>